.loading-container{

height:60vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

animation:fadeIn 0.6s ease;

}

.loading-title{

margin-top:10px;
font-weight:600;

}

.loading-subtitle{

color:#6c757d;

}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(10px);
}

to{
opacity:1;
transform:translateY(0);
}

}